body {
    font-size: 14px;
    max-width: 115rem;
    margin: 0 auto;
}
header {
    margin-bottom: 1em;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2em;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding-left: 25px;
}
a {
    color: #0071BC;
    text-decoration: underline;
}
hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
}

.container {
    margin: 1em;
    padding-bottom: 2em;
}
.text-center {
    text-align: center;
}
.links a {
    margin-right: 10px;
}
.release-name {
    color: #D33C43;
    font-weight: 400;
    font-style: italic;
}
.bullet:before {
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}
.success:before {
    color: #88c671;
    content: "\0056";
}
.problem:before {
    color: #d33d44;
    content: "\0057";
}
.cake-error {
    padding: 10px;
    margin: 10px 0;
}
#url-rewriting-warning {
    display: none;
}
.col {
    padding: 2em;
    display: grid;
    width: 600px;
    place-content: center;
}
