body {
    font-size: 14px;
}
header {
    margin-bottom: 1em;
} 
h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 1em 0;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0 0 30px 0;
    padding-left: 25px;
}
a {
    color: #0071BC;
    text-decoration: underline;
}
hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
}
.hidden {
    display: none;
}
.default-cursor {
    cursor: default;
}
.message p {
    margin: 0;
}
.container {
    margin: 1em;
    padding-bottom: 2em;
}
.content fieldset legend {
    margin-top: 2em;
}
.content fieldset p span {
    margin-right: 2em;
}
.content fieldset p span input {
    margin-left: 0.5em;
}
.content .input input,
.content .input select {
    margin-bottom: 1em;
}

.content .showCode + label {
    font-weight: normal;
    font-size: 14px;
}
.content form .inputDiv {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem .7rem;
}
.content.avaliacoes th {
    white-space: normal;
}
.tabset {
    display: flex;
    flex-wrap: wrap;
}
.tabset > label {
    border: 1px solid var(--color-lightgray);
    border-bottom: 0;
    margin: 0;
    margin-right: 1em;
    padding: 0.4em 1em;
    border-radius: 3px 3px 0 0;
    opacity: 0.6;
    cursor: pointer;
    order: 1;
}
.tabset input[name="tabs"] {
    display: none;
}
.tabset input[name="tabs"]:checked + label {
    background: var(--color-white);
    opacity: 1;
    position: relative;
    top: 1px;
}
.tabset .tab-content {
    padding: 1em;
    border: 1px solid var(--color-lightgray);
    display: none;
    order: 999;
    flex-grow: 1;
    width: 100%;
}
.tabset input[name="tabs"]:checked + label + .tab-content {
    display: block;
}

.text-center {
    text-align: center;
}
.links a {
    margin-right: 10px;
}
.release-name {
    color: #D33C43;
    font-weight: 400;
    font-style: italic;
}
.bullet:before {
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}
.success:before {
    color: #88c671;
    content: "\0056";
    margin-right: 1em;
    font-style:italic;
    font-weight: bold;
}
.problem:before {
    color: #d33d44;
    content: "\0057";
    margin-right: 1em;
}
.cake-error {
    padding: 10px;
    margin: 10px 0;
}
#url-rewriting-warning {
    display: none;
}
.col {
    padding: 2em;
    display: grid;
    place-content: center;
}
.formCode {
    font-family: consolas, monospace;
}
.inputdiv {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  padding: .6rem 1.0rem .7rem;
}
footer {
    background: #2b6c9c;
    color: #fff;
    padding: 10px;
}
